.header {
  padding-top: rem(60);
  margin-bottom: rem(30);

  &__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: rem(6);
  }

  &__contacts {
    margin-top: rem(10);
    justify-content: flex-end;
  }

  &__logo {
    margin-right: auto;
  }
}
