// Colors
$white: #fff;
$black: #090f25;

$dark-blue: #071437;
$light-blue: #4b7de2;

$gray-light: #f3f4f6;
$gray: #626877;
$gray-dark: #898d99;

$green: #7bb64f;
$purple: #4d173d;

$body-min-width: 320px;

// Typography
$font-family-base: 'Lato', 'Lucida Grande', Tahoma, Sans-Serif;
$font-size-base: 18px;
$rem-base: 18;
$line-height-base: 1.5;

// Media breakpoints
$lg-max-width: 1199.98px;
$md-max-width: 991.98px;
$sm-max-width: 767.98px;
$xs-max-width: 575.98px;
$max-height: 675px;
