@import 'vendors';
@import 'variables';
@import 'mixins';
@import 'functions';
@import 'fonts';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: $font-size-base;

  @media (max-width: $lg-max-width) {
    font-size: 16px;
  }
  @media (max-width: $sm-max-width) {
    font-size: 14px;
  }
}

body {
  font-family: $font-family-base;
  line-height: $line-height-base;
  font-style: normal;
  color: $black;
  overflow-x: hidden;
  min-width: $body-min-width;
}

@import '_blocks/blocks';
