@import 'vendors';
@import 'variables';
@import 'mixins';
@import 'functions';
@import 'fonts';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: $font-size-base;

  @media (max-width: $md-max-width) {
    font-size: 16px;
  }
}

body {
  font-family: $font-family-base;
  line-height: $line-height-base;
  font-style: normal;
  color: $black;
  background-color: $gray-light;
  overflow-x: hidden;
  min-width: $body-min-width;
}

a {
  transition: color 0.2s;
  text-decoration: none;
  color: $light-blue;
  font-size: inherit;

  &:hover,
  &:focus {
    color: $green;
  }
}

.container-fluid {
  max-width: $container-fluid-width;
}

@import '_blocks/blocks';
